{% extends "base.html" %}

    {% block content %}
    
        <style>
            .error { color:red; }
        </style>
    
<body>
            <h1>Signup</h1>
            <form method="POST" class="label"> 
                <label>Username
                    <input id="username" type="text" name="username" value="{{username}}"/>
                </label>
                <p class="error">{{username_error}}</p>
                <label>Password
                    <input id="password" type="password" name="password" value="{{password}}"/>
                </label>
                <p class="error">{{password_error}}</p>
                <label>Verify Password
                    <input id="verify" type="password" name="verify" value="{{verify}}"/>
                </label>
                <p class="error">{{verify_error}}</p>
                <input type="submit" value="Submit" />
            </form>
</body>

{% endblock %}