{% extends "base.html" %}

{% block content %}
    {% if titles|length == 0 %}
    <p>No blog posts yet</p>
    {% else %}

        
            {% for title in titles %}
            <h2> <a href="/blogs?id={{title.id}}">{{title.blog_title}}</a></h2>
            <br>{{title.blog_entry}}
            <br>
            <p>Written by <a href="/blog?user={{title.owner_id}}">{{title.owner.username}}</a></p>
            
            <hr>   
                
            
                
            {% endfor %}


    {% endif %}

    <hr />
{% endblock %}
    

    

